
$desktop-bg: rgba(255,255,255,1);
$large-bg: rgba(255,255,255, 1);
$medium-bg: rgba(255,255,255,1);
$small-bg: rgba(255,255,255,1);
$box-bg: rgba(255,255,255,1);

/*$desktop-bg: url;
$large-bg: url('../img/reviewback.jpg');
$medium-bg: url('../img/reviewback.jpg');
$small-bg: url('../img/reviewback.jpg');
$box-bg: url('../img/reviewback.jpg');*/